<!-- Product details page -->
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h1 class="title">Online Shop</h1>
        <!-- View Cart -->
        <div class="cart-button">
            <a class="view-cart-text" href="/cart">View Cart</a>
        </div>

        <!-- Search Form -->
        <form class="search-form" action="/search" method="GET">
            <input class="search-input" type="text" name="query" placeholder="  Search products...">
            <button class="search-btn" type="submit">Search</button>
        </form>
    </div>

    <!-- Item information -->
    <div class="product-details">
        <div class="product-image-large">
            <img src="/images/<%= product.name.toLowerCase().replace(/ /g, '_') %>.jpg" alt="<%= product.name %>">
        </div>
        <h1><%= product.name %></h1>
        <p class="product-price">$<%= product.price %></p>
        <p class="product-quantity <%= product.quantity === 0 ? 'out-of-stock' : '' %>">
            <% if(product.quantity === 0) { %>
                Out of stock
            <% } else { %>
                Only <%= product.quantity%> left!
            <% } %>
        </p>
        <p class="product-description"><%= product.description %></p>
        <div class="product-rating">
            Rating: 
            <% if(product.rating_sum === 0 || product.rating_count === 0) { %>
                No ratings yet
            <% } else { %>
                <%= (product.rating_sum / product.rating_count).toFixed(1) %> / 5
                (<%= product.rating_count %> reviews)
            <% } %>
        </div>
    
        <form id="addToCartForm" action="/cart/add" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <input type="number" name="quantity" value="1" min="1" max="<%= product.quantity %>">
            <button type="submit">Add to Cart</button>
        </form>
    
        <div id="message" style="display: none;"></div>
    
        <a href="/" class="back-link">Back to Home</a>

    <script src="/js/add_to_cart.js"></script>
</body>
</html>
