<!-- Product details page -->
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- View Cart -->
    <a href="/cart">View Cart</a>

    <!-- Item information -->
    <h1><%= product.name %></h1>
    <p>Price: $<%= product.price %></p>
    <p>Quantity: Only <%= product.quantity%> left!</p>
    <p>Description: <%= product.description %></p>
    <p>Rating: <% if(product.rating_sum === 0 || product.rating_count === 0) { %>
                    No ratings yet
                <% } else { %>
                    <%= product.rating_sum / product.rating_count %> / 5
                <% } %></p>      
    </p>   
</body>
</html>
